body {
    font-family: sans-serif;
}

:root{
    --darkGrey: #33393f;
    --myCo: rgb(2, 243, 243);
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkGrey);
    height: fit-content;
    align-items: center;
}

header h1{
    background-color: var(--myCo);
    color: var(--darkGrey);
    font-size: 5em;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 0;
}

nav{
    margin: 10px auto;
}

ul{
    text-align: center;
    height: fit-content;
}

.topLinks a{
    font-size: 1.5em;
    margin: 0 5px 0 5px;
    text-decoration: none;
    padding: 0 5px 3px 5px;
    border-bottom: 2px solid var(--myCo);
    color: var(--myCo);
    
    color: var(--myCo);

    background-image: linear-gradient(180deg,
        var(--darkGrey) 0%,
        var(--darkGrey) 50%,
        var(--myCo) 50%,
        var(--myCo) 100%);
    background-size: 100% 200%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
    transition-delay: 0.0s, 0.15s;
}

.botLinks{
    display: flex;
    flex: 1 1 90%;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.botLinks a{
    width: fit-content;
    color: var(--darkGrey);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--darkGrey);
    margin: 20px auto;
    font-weight: bolder;
    text-decoration: none;
}


a:hover{
    color: var(--darkGrey);
    cursor: pointer;
    background-position: -100% 100%;
}

.hero {
    display: flex;
    position: relative;
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/millia-rage-guiltygear-strive.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
}

.hero h1{
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
    background-color: var(--myCo);
    color: var(--darkGrey);
    font-size: 3em;  
}

.fBox{
    display: flex;
    margin: 25px 5%;
    flex-direction: column;
}

.fBoxContact{
    display: flex;
    margin: 25px 5%;
    flex-direction: column;
}

.fBox h1, .fBoxContact h1{
    color:navy;
    border-bottom: 3px solid navy;
    text-align: left;
    font-size: 2em;
    margin-right: 0;
    padding-right: 0;
}

.fBox p{
    flex: 1 1 90%;
    text-align: center;
    margin-top: 10px;
}

.fImgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.fImgBox div{
    position: relative;
    margin: 5px 5px;
    width: 90%;
    transition: .5s;
    border: 5px solid var(--myCo);
}

.sub{
    height: fit-content;
    position: absolute;
    bottom: 20%;
    left: 0;
    font-weight: bolder;
    background-color: var(--myCo);
    padding: 10px 5px 10px 5px;
}

.sub span{
    display: block;
    color: var(--darkGrey);
}

.big{
    font-size: x-large;
    margin-bottom: 5px;
}

.small{
    font-size:smaller;
}

.fImgBox div:hover{
    filter: sepia(50%);
    cursor: pointer;
}

.fImgBox img{
    width: 100%;
    height: 300px; 
    display: block;
    margin: 0 auto;
}

.picLink{   
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0; 
    z-index: 1;
}

@media screen and (min-width: 975px) {
    .hero h1{
        position: absolute;
        bottom: 5%;
        right: 5%; 
    }
    .fBox{
        flex-direction: row;
        justify-content: left;
    }
    .fBoxContact{
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    .fBox h1, .fBoxContact h1{
        border-right: 3px solid navy;
        border-bottom: none;
        text-align: right;
        margin-right: 20px;
        padding-right: 20px;
        flex: 1 1 10%;
    }
    header{
        flex-direction: row;
        height: 100px;
        justify-content: space-between;
        width: auto;
    }
    header h1{
        padding-left: 50px;
        width: auto;
    }
    nav{
        margin-right: 50px;
    }

    .fImgBox{
        flex: 1 1 90%;
    }
    .botLinks a{
        margin: 0 auto;
    }
}

@media screen and (min-width: 500px) {
    .fImgBox{
        flex-direction: row;
    }

    .fImgBox div{
        width: 45%;
        height: 300px;
    }

    .fImgBox .dub{
        width: calc(90% + 20px);
        height: 600px;
        margin-bottom: 5px;
    }

    .fImgBox .dub img{
        height: 600px;
    }

    .dub .sub{
        bottom: 10%;
    }
    
}